body {
    background: gainsboro;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 32px;
}

ul {
    list-style: none;
}

ol {
    list-style: upper-roman inside;
}

aside {
    font-style: italic;
    margin-left: 1em;
}

nav ul li a {
    text-decoration: none;
}

ul.ingredients li:nth-of-type(2n) {
    background: whitesmoke;
}
