body {
    background: gainsboro;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    width: 900px;
}

.content {
    width: 700px;
    margin: 0 auto;
}

h2 {
    font-size: 32px;
    margin-top: 20px;
}

ul {
    list-style: none;
}

aside {
    font-style: italic;
    margin-left: 1em;
}

.content p {
    padding:  10px 0 10px 0;
}

.header {
    background: grey;
    color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 10px 20px 60px;
}

.header-label {
    float: left;
    font-size: 38px;
}

.header-list {
    float: right;
}

.header-list li {
    float: left;
    font-size: 1.3em;
    padding: 10px;
}

.header-list a {
    text-decoration: none;
    color: white;
}

.ingredients li {
    margin: 15px 0 15px 0;
    padding: 0 0 0 15px;
}

.instructions li {
    list-style: upper-roman;
    margin: 15px 0 15px 0;
    padding: 0 0 0 15px;
}

.ingredients li:nth-of-type(2n) {
    background: whitesmoke;
}

.instructions {
    /* padding: 10px; */
}

figurecaption {
    display: block;
    font-style: italic;
}
